@page "/combat"
@using DMPowerTools.Maui.Features.Creatures.Shared.CreatureDetail

<MudGrid>
    <MudItem xs="6">
        <MudAutocomplete Label="Search Creatures" @bind-Value="@_selectedCreatureName" SearchFunc="@Filter" Variant="Variant.Text" ResetValueOnEmptyText="true" 
            AdornmentIcon="@Icons.Material.Filled.AddCircle" OnAdornmentClick="InitiateCreature" AdornmentColor="Color.Success" />
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="InitiativeRoll">Initiative Roll</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" OnClick="EndTurn" Disabled=@(_activeCreature is null)>End Turn</MudButton>
    </MudItem>

    @foreach (var initiatedCreature in _initiatedCreatures)
    {
        var activeClass = initiatedCreature == _activeCreature ? "activeCreature" : string.Empty;
   
        <MudItem md="3" xs="12">
            <div>          
                <MudCard Class="@activeClass">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="" Size="Size.Large" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">@initiatedCreature.Creature.Name</MudText>
                            <MudStack Row=true>
                                <MudNumericField Label="HP" @bind-Value="initiatedCreature.HitPoints" Min="0"></MudNumericField>
                                <MudTextField Label="CR" Value="initiatedCreature.Creature.Cr" ReadOnly="true"></MudTextField>
                            </MudStack>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Variant="Variant.Text" Size="Size.Small" OnClick="() => RemoveFromCombat(initiatedCreature)" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.caption"><b>Initiative Roll:</b>:@initiatedCreature.InitiativeRoll</MudText>
                        <MudButton Color="Color.Secondary" OnClick="@(() => OpenDrawer(initiatedCreature))">Details</MudButton>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudItem>
    }

    @if(_creatureDetailsOpen)
    {
        <MudDrawer Width="100%" Height="80%" @bind-Open="@_creatureDetailsOpen" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">@_clickedCreature.Creature.Name</MudText>
            </MudDrawerHeader>
            <CreatureDetail CreatureId="_clickedCreature.Creature.Id" />
            <MudButton Color="Color.Error" OnClick="@(() => CloseDrawer())">Close</MudButton>
        </MudDrawer>
    }

</MudGrid>