@page "/combat"
@using DMPowerTools.Maui.Features.Creatures.Shared.CreatureDetail

<MudGrid>
    <MudItem xs="6">
        <MudAutocomplete Label="Search Creatures" @bind-Value="@_selectedCreatureName" SearchFunc="@Filter" Variant="Variant.Text" ResetValueOnEmptyText="true" 
            AdornmentIcon="@Icons.Material.Filled.AddCircle" OnAdornmentClick="OnAddCreatureToEncounterClicked" AdornmentColor="Color.Success" />
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="OnBeginCombatClicked">Begin Combat</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" OnClick="OnEndTurnClicked" Disabled=@(!_combatEncounter.IsCombatActive())>End Turn</MudButton>
    </MudItem>

    @foreach (var initiatedCreature in _combatEncounter.Creatures)
    {
        var activeClass = _combatEncounter.IsCreaturesTurn(initiatedCreature) ? "activeCreature" : string.Empty;
   
        <MudItem md="3" xs="12">
            <div>          
                <MudCard Class="@activeClass">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="" Size="Size.Large" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">@initiatedCreature.Creature.Name</MudText>
                            <MudStack Row=true>
                                <MudNumericField Label="HP" @bind-Value="initiatedCreature.HitPoints" Min="0"></MudNumericField>
                                <MudTextField Label="CR" Value="initiatedCreature.Creature.Cr" ReadOnly="true"></MudTextField>
                            </MudStack>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Variant="Variant.Text" Size="Size.Small" OnClick="() => OnRemoveFromCombatClicked(initiatedCreature)" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.caption"><b>Initiative Roll:</b>:@initiatedCreature.InitiativeRoll</MudText>
                        <MudButton Color="Color.Secondary" OnClick="@(() => OpenDrawer(initiatedCreature.Creature.Id))">Details</MudButton>
                    </MudCardContent>
                    <MudCardActions>
                        @foreach(var condition in initiatedCreature.Conditions)
                        {
                            <MudChip Color="condition.Color" Icon="@condition.Icon" title="@condition.Name" OnClick="() => OnConditionRemovedClicked(initiatedCreature, condition)">
                                @condition.Name
                            </MudChip>
                        }
                        <MudMenu StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" Variant="Variant.Outlined" Dense="true" Label="Cond.">
                            @foreach(var condition in InitiatedCreature.Condition.List.Where(c => !initiatedCreature.Conditions.Any(icc => icc.Value == c.Value)))
                            {
                                <MudMenuItem Icon="@condition.Icon" IconColor="@condition.Color" OnClick="() => OnConditionAddedClicked(initiatedCreature, condition)">
                                    @condition.Name
                                </MudMenuItem>
                            }
                        </MudMenu>
                    </MudCardActions>
                </MudCard>
            </div>
        </MudItem>
    }

    @if(_creatureDetailsOpen)
    {
        <MudDrawer Width="100%" Height="80%" @bind-Open="@_creatureDetailsOpen" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary">
            <CreatureDetail CreatureId="_clickedCreatureId" />
            <MudButton Color="Color.Error" OnClick="@(() => CloseDrawer())">Close</MudButton>
        </MudDrawer>
    }

</MudGrid>