@using TabletopPowerTools.Maui.Features.Creatures.Shared.CreatureDetail

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h3">
            Review
        </MudText>
    </MudItem>
    <MudItem md="6" xs="12">
        <MudStack Row=true>
            <MudButton StartIcon="@Icons.Material.Outlined.Done" Color=Color.Success OnClick="AcceptAsync" Variant="Variant.Outlined">Accept</MudButton>
            <MudButton StartIcon="@Icons.Material.Outlined.Edit" Color=Color.Warning OnClick="SetEdit" Variant="Variant.Outlined">@_editButtonName</MudButton>
            <MudButton StartIcon="@Icons.Material.Outlined.Delete" Color=Color.Error OnClick="DenyAsync" Variant="Variant.Outlined">Deny</MudButton>
            @if (_isDuplicate)
            {
                <div class="d-flex align-center">
                    <MudIcon Icon="@Icons.Material.Outlined.Warning" Color="Color.Warning" Size="Size.Large" />
                    <MudText Color="Color.Warning">
                        Duplicate Creature
                    </MudText>
                </div>
            }
        </MudStack>
    </MudItem>
    <MudItem md="6" xs=12 Class="d-flex justify-md-end">
        <MudButton StartIcon="@Icons.Material.Outlined.DoneAll" Color="Color.Success" Variant=Variant.Filled OnClick="AcceptAllAsync">Accept All</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudDivider />
    </MudItem>
    <MudItem xs="12">
        <CreatureDetail @bind-Creature="_inReviewCreature" ReadOnly=_isReadOnly/>
    </MudItem>
</MudGrid>