
<MudGrid>
        <MudItem xs="12">
        <MudAutocomplete T="string" Label="Creature" @bind-Value="@returnCreature" SearchFunc="@Filter" Variant="Variant.Outlined" Immediate="true" ResetValueOnEmptyText="true" />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="InitiateCreature">Add To Combat</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="InitiativeRoll">Initiative Roll</MudButton>
    </MudItem>
     <MudItem xs="12">
        @foreach (InitiatedCreature activeCreature in InitiatedCreatures)
        {
    <MudExpansionPanels>
            <MudExpansionPanel>
             <TitleContent>
                <div class="d-flex">
                    <MudAvatar Image="" Size="Size.Large" />
                            <MudText> <strong>@activeCreature.Creature.Name</strong>  <small>   @activeCreature.Creature.CustomCr   </small><em>@activeCreature.HitPointsDisplay</em> : Initiative Roll:@activeCreature.InititiveRoll  </MudText>
                </div>
            </TitleContent>
            <ChildContent>
                    <MudChipSet @bind-SelectedChip="selected" Filter="true">
                        <MudChip Text="Actions" Color="Color.Primary">Actions</MudChip>
                        <MudChip Text="Abilities" Color="Color.Secondary">Abilities</MudChip>
                        <MudChip Text="Skills" Color="Color.Dark">Skills</MudChip>
                    </MudChipSet>
                    <div class="d-flex flex-column align-center">
                        @if (selected != null)
                        {
                     @if (selected.Text == "Actions")
                      {
                                    @foreach (Data.Action action in activeCreature.Creature.Actions)
                                {
                                    <MudText>@action.Name</MudText>
                                    @DisplayAction(action.Desc)
                            }
                        }
                        else if(selected.Text == "Abilities")
                        {
                                    @foreach (Data.Ability ability in activeCreature.Creature.Abilities)
                                {
                                <MudText>@ability.Name</MudText>
                                <MudText>@ability.Desc</MudText>
                            }                   
                        }
                        }

                      </div>
            <MudStack Row="true">
                            <MudPaper Class="pa-3">STR: @activeCreature.Creature.StrPoints (@diceRoller.CalculateAbilityScoreModifer(activeCreature.Creature.StrPoints))</MudPaper>
                            <MudPaper Class="pa-3">DEX: @activeCreature.Creature.DexPoints (@diceRoller.CalculateAbilityScoreModifer(activeCreature.Creature.DexPoints))</MudPaper>
                            <MudPaper Class="pa-3">CON: @activeCreature.Creature.ConPoints (@diceRoller.CalculateAbilityScoreModifer(activeCreature.Creature.ConPoints))</MudPaper>
                            <MudPaper Class="pa-3">WIS: @activeCreature.Creature.WisPoints (@diceRoller.CalculateAbilityScoreModifer(activeCreature.Creature.WisPoints))</MudPaper>
                            <MudPaper Class="pa-3">INT: @activeCreature.Creature.IntPoints (@diceRoller.CalculateAbilityScoreModifer(activeCreature.Creature.IntPoints))</MudPaper>
                            <MudPaper Class="pa-3">CHA: @activeCreature.Creature.ChaPoints (@diceRoller.CalculateAbilityScoreModifer(activeCreature.Creature.ChaPoints))</MudPaper>
            </MudStack>
            </ChildContent>
                </MudExpansionPanel>
</MudExpansionPanels>
}
    </MudItem>
</MudGrid>


@using DMPowerTools.DataModels;
@code {
    @page "/combat"
    @using DMPowerTools.Data;
    @using Microsoft.EntityFrameworkCore;
    @using Markdig;

    @inject ApplicationDbContext DBContext;
    string returnCreature { get; set; }
    IEnumerable<Creature> creatures;
    DiceRoller diceRoller = new();
    List<InitiatedCreature> InitiatedCreatures = new();
    Creature selectedCreature = new();
    MudChip selected;

    protected override async  Task OnInitializedAsync()
    {
        creatures =  DBContext.Creatures.Include(a => a.Abilities).Include(b => b.Actions).ToList();
        selectedCreature.Actions = new List<Data.Action>();
    }

    private async Task<IEnumerable<string>> Filter(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            return creatures.Select(n => n.Name).ToList();
        }
        var lowerCaseSearchTerm = value.Trim().ToLower();
        return creatures.Select(n => n.Name).Where(p => p.ToLower().Contains(lowerCaseSearchTerm));
    }
    public void InitiateCreature()
    {
        if (returnCreature == string.Empty || returnCreature is null) return;

        selectedCreature = DBContext.Creatures. 
        Where(a => a.Name == returnCreature).First();
        InitiatedCreatures.Add(new InitiatedCreature(0, selectedCreature));
    }
    public void InitiativeRoll()
    {
        foreach (InitiatedCreature a in InitiatedCreatures)
        {
            a.InititiveRoll = diceRoller.RollForInitiative(a.Creature.DexPoints);
        }
        InitiatedCreatures = InitiatedCreatures.OrderByDescending(x => x.InititiveRoll).ToList();
    }
    public MarkupString DisplayAction(string actionDesc)
    {
    return  (MarkupString)Markdown.ToHtml(actionDesc);
    }
}