
<MudGrid>
        <MudItem xs="12">
        <MudAutocomplete T="string" Label="Creature" @bind-Value="@returnMonster" SearchFunc="@Filter" Variant="Variant.Outlined" Immediate="true" ResetValueOnEmptyText="true" />
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">Test</MudButton>
    </MudItem>
     <MudItem xs="12">
    <MudExpansionPanels>
            <MudExpansionPanel>

            
             <TitleContent>
                <div class="d-flex">
                    <MudAvatar Image="" Size="Size.Large" />
                        <MudText> <strong>@selectedMonster.Name</strong>  <small>   @selectedMonster.CustomCr   </small><em>@DiceRoll()</em>    </MudText>
                </div>
            </TitleContent>
            <ChildContent>
                    <MudChipSet @bind-SelectedChip="selected" Filter="true">
                        <MudChip Text="Actions" Color="Color.Primary">Actions</MudChip>
                        <MudChip Text="Abilities" Color="Color.Secondary">Abilities</MudChip>
                        <MudChip Text="Skills" Color="Color.Dark">Skills</MudChip>
                    </MudChipSet>
                    <div class="d-flex flex-column align-center">
                        @if (selected != null)
                        {
                     @if (selected.Text == "Actions")
                      {
                          @foreach (Data.Action action in selectedMonster.Actions)
                                {
                                    <MudText>@action.Name</MudText>
                                    <MudText>@action.Desc</MudText>
                            }
                        }
                        else if(selected.Text == "Abilities")
                        {
                               @foreach (Data.Ability ability in selectedMonster.Abilities)
                                {
                                <MudText>@ability.Name</MudText>
                                <MudText>@ability.Desc</MudText>
                            }                   
  
                        }
                         else if(selected.Text == "Skills")
                        {
                               @foreach (Data.Skill skill in selectedMonster.Skills)
                                {
                                <MudText>@skill.Name</MudText>
                                <MudText>@skill.Stat</MudText>
                            }                   
                        }
                        }

                      </div>
            <MudStack Row="true">
                    <MudPaper Class="pa-3">STR: @selectedMonster.StrPoints (@StatModifier(selectedMonster.StrPoints))</MudPaper>
                    <MudPaper Class="pa-3">DEX: @selectedMonster.DexPoints (@StatModifier(selectedMonster.DexPoints))</MudPaper>
                    <MudPaper Class="pa-3">CON: @selectedMonster.ConPoints (@StatModifier(selectedMonster.ConPoints))</MudPaper>
                    <MudPaper Class="pa-3">WIS: @selectedMonster.WisPoints (@StatModifier(selectedMonster.WisPoints))</MudPaper>
                    <MudPaper Class="pa-3">INT: @selectedMonster.IntPoints (@StatModifier(selectedMonster.IntPoints))</MudPaper>
                    <MudPaper Class="pa-3">CHA: @selectedMonster.ChaPoints (@StatModifier(selectedMonster.ChaPoints))</MudPaper>
            </MudStack>
            </ChildContent>
                </MudExpansionPanel>
</MudExpansionPanels>
    </MudItem>
</MudGrid>


@code {
    @page "/combat"
    @using DMPowerTools.Data;
    @using Microsoft.EntityFrameworkCore;

    @inject ApplicationDbContext DBContext;
    string returnMonster { get; set; }
    IEnumerable<Creature> creatures;
    Creature selectedMonster = new();
    string monsterHeader= "";
    MudChip selected;

    protected override async  Task OnInitializedAsync()
    {
        creatures =  DBContext.Creatures.Include(a => a.Abilities).Include(b => b.Actions).ToList();
        selectedMonster.Actions = new List<Data.Action>();
    }

    private async Task<IEnumerable<string>> Filter(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            return creatures.Select(n => n.Name).ToList();
        }
        var lowerCaseSearchTerm = value.Trim().ToLower();
        return creatures.Select(n => n.Name).Where(p => p.ToLower().Contains(lowerCaseSearchTerm));
    }
    public void ButtonOnClick()
    {
        if (returnMonster == string.Empty) selectedMonster=  new Creature();

        selectedMonster = DBContext.Creatures. 
        Where(a => a.Name == returnMonster).First();
        monsterHeader = $"{selectedMonster.Name} || {selectedMonster.CustomCr} || {DiceRoll()} || {selectedMonster.Alignment}";
    }
    public string DiceRoll()
    {
        Random random = new Random();
        var totalRolls = 0;
        for (int j = 0; j < selectedMonster.HitDice; j++)
        {
            totalRolls = totalRolls + random.Next(1, 8);
        }
        var additionalHP = ((selectedMonster.ConPoints - 10) / 2) * selectedMonster.HitDice;
        return $"HP: {totalRolls + additionalHP} ({selectedMonster.HitDice}d8 + {additionalHP}) ";
    }
    public int StatModifier(int stat)
    {
        return (stat - 10) / 2;
    }
    public int NumberOfActions()
    {
        if (selectedMonster.Actions == null)
        {
            return 0;    
        }
        return selectedMonster.Actions.Count();
    }
}